body{
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat:round;
    height:fit-content;
}
body h1{
    font-family: 'Secular One', sans-serif;
}
body p{
    font-family: 'Cormorant Garamond', serif;
}
body a{
    font-family: 'Secular One', sans-serif; 
}

nav{
    background: rgb(197,202,220)
}

.learnLink, .dropdown-toggle{
    color:aliceblue;
    font-size: large;
}
.dropdown-menu{
    background-color: rgb(197,202,220);
    
}
.dropdown-item{
    color:whitesmoke;  
}
.dropdown li:hover{
    background-color: rgb(197,202,220);
    color:greenyellow;
}
.learnLink:hover,.dropdown-toggle:hover{
    color:greenyellow;
}

.searchBtn{
    color:white;
    background-color: rgb(74, 106, 83);
}
.searchBtn:hover{
    background-color: rgb(204, 227, 169);
    box-shadow: 5px 5px 3px gray;
}

.bodyDiv{
    margin-top: 20px;
    height: 70vh;    
}

.bodyDiv h1{
    font-size:20px;    
}
.leftDiv{
    overflow-y:scroll;
    border-radius: 10px;
} 
.primary-content{
    border-radius: 30px;
}
.primary-content .left-content{
    flex-shrink: 1;
    padding-left: 10px;
}
.primary-content img{
    flex-shrink: 2;
    border-radius: 20px;
} 
.primary-content .learnMore{
    width:70%;}

.primary-content:hover{
    box-shadow: 2px 2px 2px 1px black;
}
.primary-content .btn:hover{
    background-color: rgb(92,96,159);
}
.secondary-content .card{
    border-radius: 30px;
}
.secondary-content .card:hover{
    box-shadow: 2px 2px 2px 1px black;
}
.secondary-content .btn:hover{
    background-color: rgb(92,96,159);
}
.secondary-content .card img{
    padding:10px 10px 0px 10px;
    border-radius:30px;
}


.rightDiv .callToAction{
    padding:10px;
    background-color: #C7CADD;
    border-radius: 10px;
}
.rightDiv div:hover{
    box-shadow: 2px 2px 5px 3px rgb(64, 69, 139);  
}
.rightDiv .btn:hover{
    background-color: rgb(92,96,159);
    box-shadow: 2px 2px 2px rgb(12, 14, 42);  
}

.aboutDiv{
    margin-top:20px;
    background-color: rgb(68, 74, 150);
    
}
.aboutDiv a{
    margin-top:5px;
    color:rgb(221, 221, 221);   
    font-size: large;
    text-decoration: none;
}
.aboutDiv a:hover{
    text-shadow: 8px 5px 3px  rgb(12, 14, 42); ;
    text-decoration: underline;
}

.aboutDiv div{
    color:whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
}   


@media(max-width:768px){
    body{
        display: flex;
        flex-direction: column;
        
    }
    .navbar{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .navbar .navbar-brand{
        width: 100%;
        margin: 0;
        padding:0;
        align-content: center;
    }
    .navbar .container .searchArea{
        margin:0;
        width:80%;
        
    }
    .bodyDiv{
        display: flex;
        flex-direction: column;
    }
    .leftDiv{
        height:50vh;
    }
    .leftDiv img{
        overflow-y: scroll;
    }
    .mainDiv{
        display:flex;
        flex-direction: column;
        margin: 10px 0px;
    }
    .aboutDiv{
        display: flex;
        justify-content: center;
    }
    
}